In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
1.989e30/1e24

1989000.0

In [3]:
df = pd.DataFrame()

nss =  ['SOL', 'MERCURY', 'VENUS', 	 'EARTH', 	 'MARS', 	 'JUPITER',
        'SATURN', 	 'URANUS', 	 'NEPTUNE']
mss = [1.989e6, 0.330,	4.87,	5.97,	0.642,	1898,	568,	86.8,	102]
ss = (sum(mss)-mss[0])*1e24
print(ss)

print(ss/(mss[0]*1e24))

2.666612000000197e+27
0.0013406797385621906

In [4]:
df['Nombre'] = nss
df['Masa [10^24 kg]'] = mss
df

    Nombre  Masa [10^24 kg]
0      SOL      1989000.000
1  MERCURY            0.330
2    VENUS            4.870
3    EARTH            5.970
4     MARS            0.642
5  JUPITER         1898.000
6   SATURN          568.000
7   URANUS           86.800
8  NEPTUNE          102.000

In [5]:
nsj = ['Jupiter','Ganymede', 'Callisto','Io', 'Europa','Himalia', 'Amalthea']
msj = [1.898e11, 14819000, 8931900, 4799800, 10759000, 420, 208]

dfj = pd.DataFrame()

dfj['Nombre'] = nsj
dfj['Masa [10^16 kg]'] = np.round(msj, 1)

ssj = (sum(msj)-msj[0])*1e16
print(ssj, ssj/(msj[0]*1e16))
dfj

3.9310328e+23 0.00020711447839831401

     Nombre  Masa [10^16 kg]
0   Jupiter     1.898000e+11
1  Ganymede     1.481900e+07
2  Callisto     8.931900e+06
3        Io     4.799800e+06
4    Europa     1.075900e+07
5   Himalia     4.200000e+02
6  Amalthea     2.080000e+02

In [6]:
nssat = ['Saturno','Titán','Rea','Íapetus','Dione','Tetis','Encélado']

msat = [5.6834e26, 1.3452e23, 2.306e21, 1.805e21, 1.095452e21, 6.176e20, 
        1.08022e20]
ssat = sum(msat)-msat[0]
print(ssat, ssat/msat[0])

dfsat = pd.DataFrame()

dfsat['Nombre'] = nssat
dfsat['Masa [10^20 kg]'] = np.round(np.array(msat)/1e20, 3)
dfsat

1.4045207400004756e+23 0.0002471268501250089

     Nombre  Masa [10^20 kg]
0   Saturno      5683400.000
1     Titán         1345.200
2       Rea           23.060
3   Íapetus           18.050
4     Dione           10.955
5     Tetis            6.176
6  Encélado            1.080

In [7]:
nsu = ['Urano','Titania','Oberon','Ariel', 'Umbriel','Miranda',
       'Sycorax','Puck','Portia']
msu = [8.681e25,3.527e21,3.014e21,1.353e21,1.17e21, 6.59e19,5.3e18,
       2.9e18, 1.7e18]
ssu = sum(msu)-msu[0]
print(ssu, ssu/msu[0])

dfu = pd.DataFrame()
dfu['Nombre'] = nsu
dfu['Masa [10^20 kg]'] = np.array(msu)/1e20
dfu

9.139800000018736e+21 0.00010528510540281921

    Nombre  Masa [10^20 kg]
0    Urano       868100.000
1  Titania           35.270
2   Oberon           30.140
3    Ariel           13.530
4  Umbriel           11.700
5  Miranda            0.659
6  Sycorax            0.053
7     Puck            0.029
8   Portia            0.017

####Punto 1.2

In [8]:
# FUNCIÓN MOMENTO ROTACIONAL DE UNA ESFERA
def m_rot(M, R, T):
  return (4*np.pi*M*R**2)/(5*T)

# MOMENTO ORBITAL CON e=0
def m_orb(M, R, T): #R semieje mayor
  return (2*np.pi*M*R**2 )/ T

In [9]:
# PUNTO 7D 

G = 6.667e-11
m_luna = 7.349e22 #kg
a_luna = 384403*1000 #m
Torb_luna = 27.3*24*60*60 #segundos

In [10]:
r_2 = ((a_luna)**4*4*(np.pi)**2) / (G*((5.970*1e24)+m_luna)*(0.82*Torb_luna)**2)
print("Radio orbital de la luna en el futuro:", r_2/1000)
print("Es un {} del radio de Hill".format((r_2/2.158e9)*100))

Radio orbital de la luna en el futuro: 571884.1544787615
Es un 26.500655907264196 del radio de Hill

In [11]:
Msol = 1.989e30 #kg
Rsol = 6.9634e8 #m
Trotsol =  25*60*60*24 #segundo

Lrot_sol = m_rot(Msol, Rsol, Trotsol)

print('Momento rotacional del sol:', Lrot_sol)
Lrot_sol*100**2*1000

Momento rotacional del sol: 1.1221827227584755e+42

1.1221827227584754e+49

In [12]:
T_orbplan = [ 88.0,	224.7,	365.2,	687.0,	4331,	10747,	30589,
         59800]  #En días
D_plan = [4879,	12104,	12756,	6792, 142984,	120536,	51118,
          49528] #En km
r_plan = np.array(D_plan)/2

mssplan = mss.copy()
mssplan.remove(1.989e6)
nssplan = nss.copy()
nssplan.remove('SOL')

R_orbplan = [0.3871, 0.7233, 1.000, 1.524, 5.203, 9.537, 19.19, 30.07]
M_orbplan = m_orb(np.array(mssplan)*1e24, np.array(R_orbplan)*1.496e11, np.array(T_orbplan)*60*60*24)

morb_plan = pd.DataFrame()
morb_plan['Nombre'] = nssplan
morb_plan['Masa [10^24 kg]'] = mssplan
morb_plan['Semieje mayor[AU]'] = R_orbplan
morb_plan['T orbital [días]'] = T_orbplan
morb_plan['M orbital[kgm^2s^-1]'] = M_orbplan

morb_plan

,Nombre,Masa [10^24 kg],Semieje mayor[AU],T orbital [días],M orbital[kgm^2s^-1]
0,MERCURY,0.330,0.3871,88.0,9.145489e+38
1,VENUS,4.870,0.7233,224.7,1.845407e+40
2,EARTH,5.970,1.0000,365.2,2.660559e+40
3,MARS,0.642,1.5240,687.0,3.532462e+39
4,JUPITER,1898.000,5.2030,4331.0,1.930834e+43
5,SATURN,568.000,9.5370,10747.0,7.823732e+42
6,URANUS,86.800,19.1900,30589.0,1.700723e+42
7,NEPTUNE,102.000,30.0700,59800.0,2.510124e+42

In [13]:
print("Suma de los momentos orbitales:", sum(M_orbplan))

Suma de los momentos orbitales: 3.1392428318457907e+43

In [14]:
print("Razón entre la suma de los m orbitales y el m rotacional del Sol", sum(M_orbplan)/Lrot_sol)

Razón entre la suma de los m orbitales y el m rotacional del Sol 27.974435608214595

In [15]:
r_p = r_plan[4:7]
msp = mssplan[4:7]
nsp = nssplan[4:7]
T_rotp = np.array([9.9, 10.7, 17.2])*60*60
mrotsist = m_rot(np.array(msp)*1e24, np.array(r_p)*1000, T_rotp)

mrot_plan = pd.DataFrame()
mrot_plan['Nombre'] = nsp
#mrot_plan['Masa [10^24 kg]'] = msp
#mrot_plan['Radio [km]'] = r_p
mrot_plan['T rot [s]'] = T_rotp
mrot_plan['M rotacional[kgm^2s^-1]'] = mrotsist

mrot_plan

    Nombre  T rot [s]  M rotacional[kgm^2s^-1]
0  JUPITER    35640.0             6.840900e+38
1   SATURN    38520.0             1.346094e+38
2   URANUS    61920.0             2.301528e+36

In [16]:
nljup = ['Io', 'Europa', 'Ganymede', 'Callisto', 'Amalthea', 'Himalia']	
mljup = [8931900, 4799800, 14819000, 10759000, 208, 420]

aljup = [421800, 671100, 1070400,	1882700, 181400, 11440600, ] # En km
Tljup = [1.762732, 3.525463, 7.155588, 16.690440, 0.499918, 250.562210] # En días

L_orb_lj = m_orb(np.array(mljup)*1e16, np.array(aljup)*1000, np.array(Tljup)*60*60*24)
#L_orb_s = m_orb(msat[1:-1], )
#L_orb_u = m_orb(msu[1:-1], )

L_jup = pd.DataFrame()
L_jup['Nombre'] = nljup
L_jup['a [km]'] = aljup
L_jup['T orbital [días]'] = Tljup
L_jup['L orbital [kg.m^2s^-1]'] = L_orb_lj
L_jup

     Nombre    a [km]  T orbital [días]  L orbital [kg.m^2s^-1]
0        Io    421800          1.762732            6.555968e+35
1    Europa    671100          3.525463            4.459104e+35
2  Ganymede   1070400          7.155588            1.725567e+36
3  Callisto   1882700         16.690440            1.661623e+36
4  Amalthea    181400          0.499918            9.956467e+30
5   Himalia  11440600        250.562210            2.145567e+30

In [17]:
print("Suma:", sum(L_orb_lj))
print("Razón del sistema joviano:", sum(L_orb_lj)/mrotsist[0])

Suma: 4.488709580086149e+36
Razón del sistema joviano: 0.006561577181108792

In [18]:
al_sat = [1221900, 527200,3561700, 377700, 295000, 238400] #km
T_lsat = [15.945448, 4.517503,79.331002, 2.736916, 1.887802, 1.370218]

L_orb_s = m_orb(np.array(msat[1:]), np.array(al_sat)*1000, np.array(T_lsat)*60*60*24)
L_orb_s[2] = m_orb(msat[3], np.array(al_sat[2]), np.array(T_lsat[2])*60*60*24)*1000**2
L_sat = pd.DataFrame()
L_sat['Nombre'] = nssat[1:]
L_sat['a [km]'] = al_sat
L_sat['T orbital [días]'] = T_lsat
L_sat['L orbital [kg.m^2s^-1]'] = L_orb_s

L_sat

     Nombre   a [km]  T orbital [días]  L orbital [kg.m^2s^-1]
0     Titán  1221900         15.945448            9.159834e+35
1       Rea   527200          4.517503            1.031758e+34
2   Íapetus  3561700         79.331002            2.099013e+34
3     Dione   377700          2.736916            4.152331e+33
4     Tetis   295000          1.887802            2.070432e+33
5  Encélado   238400          1.370218            3.258376e+32

In [19]:
print("suma de L orbitales del s sat:", sum(L_orb_s))
print("Razón:", sum(L_orb_s)/mrotsist[1])

suma de L orbitales del s sat: 9.538396753982596e+35
Razón: 0.007085979751937714

### Punto 2

In [20]:
al_u = [436300, 583400, 190900, 266000, 129900, 12180000, 86000, 66100]
T_lu = [8.706444, 13.463606, 2.520680, 4.144548, 1.413784, 1289.230640, 0.761476, 0.513196]

L_orb_u = m_orb(np.array(msu[1:]), np.array(al_u)*1000, np.array(T_lu)*60*60*24)
L_u = pd.DataFrame()
L_u['Nombre'] = nsu[1:]
L_u['a [km]'] = al_u
L_u['T orbital [días]'] = T_lu
L_u['L orbital [kg.m^2s^-1]'] = L_orb_u

print("suma de L orbitales del s urano:", sum(L_orb_u))
print("Razón:", sum(L_orb_u)/mrotsist[2])

L_u

suma de L orbitales del s urano: 1.4084443485398605e+34
Razón: 0.006119604261191223

    Nombre    a [km]  T orbital [días]  L orbital [kg.m^2s^-1]
0  Titania    436300          8.706444            5.607912e+33
1   Oberon    583400         13.463606            5.540907e+33
2    Ariel    190900          2.520680            1.422519e+33
3  Umbriel    266000          4.144548            1.452573e+33
4  Miranda    129900          1.413784            5.719878e+31
5  Sycorax  12180000       1289.230640            2.327237e+29
6     Puck     86000          0.761476            2.048353e+30
7   Portia     66100          0.513196            1.052531e+30

In [21]:
# TIEMPO ENTRE CADA CONJUNCIÓN

def t_conjuncion(T1, T2):
  return T1*T2/(T2-T1)

t_con_plan = []
n_pares = []
for i in range(len(T_orbplan)-1):
  t_con_plan.append(t_conjuncion(T_orbplan[i], T_orbplan[i+1]))  
  n_pares.append(nss[i+1] +'-' +nss[i+2])

np.array(t_con_plan)/365

conj_plan = pd.DataFrame()
conj_plan['Pareja'] = n_pares
conj_plan['t [años]'] = np.array(t_con_plan)/365

conj_plan

           Pareja    t [años]
0   MERCURY-VENUS    0.396300
1     VENUS-EARTH    1.600165
2      EARTH-MARS    2.136036
3    MARS-JUPITER    2.237040
4  JUPITER-SATURN   19.875507
5   SATURN-URANUS   45.391467
6  URANUS-NEPTUNE  171.564399

### Punto 3

In [22]:
G = 6.667e-11
Msat = mss[6]*1e24 #kg
Rsat = 5.8e7 #m
deltaP = -1.11e17+1.98e17

dR = 5*(Rsat**2)*deltaP /(3*G*Msat**2)
print('Cambio del radio de Júpiter', dR)

Cambio del radio de Júpiter 2.26775881003609e-11

In [23]:
tiempo = 1e9*60*60*24*365

cambio_r = tiempo*dR
cambio_r/Rsat * 100

1.2330352040223815

### Punto 4.4

In [55]:
def dsolar(T, d):
  return (T*d)/(T-d)

T = np.array([T_orbplan[0], T_orbplan[1], T_orbplan[3], T_orbplan[4]])*24 #horas
d = np.array([1407.6, -5832.5,	24.6,	9.9])
diasolar = dsolar(T,d)

ds = pd.DataFrame()
ds['Nombre'] = [nss[1],nss[2], nss[4], nss[5]]
ds['T orbital [h]'] = T
ds['Día sideral [h]'] = d
ds['Día solar [h]'] = diasolar
print(24 + 39/60)
ds

24.65

    Nombre  T orbital [h]  Día sideral [h]  Día solar [h]
0  MERCURY         2112.0           1407.6    4220.402044
1    VENUS         5392.8          -5832.5   -2802.019189
2     MARS        16488.0             24.6      24.636758
3  JUPITER       103944.0              9.9       9.900943

### Punto 6a

In [24]:
print("El radio de Hill de la Tierra es:", 3.00273e-6**(1/3))
print("{}km".format((3.00273e-6**(1/3) * 1.496e8)/405500))

El radio de Hill de la Tierra es: 0.014426869200411313
5.322465184664692km

In [25]:
5*405500

2027500

### Punto 8b

In [26]:
Moc = 6e26 #kg
N = 1e13
rho = 1000 #kg m^-3

mob = Moc/N
print("Masa promedio de cada objeto:", mob/1e13)

R = (3*mob/(4*np.pi*rho))**(1/3)/1000 #km
print("Radio promedio de cada objeto km:", R)
R_c = 1e4*1.496e8 #Radio del volumen en km
l = R_c**3/(3*np.sqrt(2)*N*R**2) #En km

print("El camino libre medio en es:", l/(1.496e8*1e13))

wel = 10*60*60*24*365 #km/año
t = l/(wel)
print("Tiempo para recorrer en 1e13 años es:", t/1e13)
print("Edad del universo: ",13000000000000/1e13)

Masa promedio de cada objeto: 6.0
Radio promedio de cada objeto km: 2.42859006300528
El camino libre medio en es: 8.94372644107267
Tiempo para recorrer en 1e13 años es: 4.242711426891399
Edad del universo:  1.3

In [27]:
M = 1.989e30 #kg
a_obj = 1e4*1.496e11 #En metros
Periodo = np.sqrt(4*np.pi**2*a_obj**3/(G*M)) #en segundos

print("Período de un objeto en la nube de Oort: ", Periodo/(60*60*24*365))  #En años

print("El objeto daría {} vueltas en ese tiempo:".format(4.5e9/(Periodo/(60*60*24*365))))

Período de un objeto en la nube de Oort:  1001124.3681960852
El objeto daría 4494.946025645644 vueltas en ese tiempo:

In [77]:
a_objj = 1e4 #AU
dr = 4494.942*2*np.pi*a_objj
print("Ha recorrido", dr/1e8)

Ha recorrido 2.824255353102442

In [79]:
Prob = dr/(l/(1.496e8))
Prob

3.157806057363841e-06

##Punto 9a

In [57]:
Mp = 1.3e22 #kg
Mc = 1.52e21 #kg
aa = 1.94e7
Pplut = np.sqrt(4*np.pi**2*aa**3 / (G*(Mp+Mc)))/(60*60*24)

In [66]:
velrel = 2*np.pi*aa/(Pplut*60*60*24)
print("Velocidad relativa de Caronte:", velrel)

Velocidad relativa de Caronte: 223.38174066350115

In [67]:
R_P = 1188 #km
R_C = 603.6 #km

Ilu = (R_P**2)/(R_P**2+R_C**2)
Ilu

0.7948202470341227

In [73]:
print("Tiempo en ocultarse en segundos:", 2*R_C*1000/velrel)

print("Tiempo en ocultarse en minutos:", (2*R_C*1000/velrel)/(60))

print("Tiempo en atravesar Plutón en minutos:", (2*(R_P-R_C)*1000/velrel)/(60))
print("Duración total:", 90.07002962837711+ 87.2049789841345)

Tiempo en ocultarse en segundos: 5404.201777702627
Tiempo en ocultarse en minutos: 90.07002962837711
Tiempo en atravesar Plutón en minutos: 87.2049789841345
Duración total: 177.2750086125116